.menu {
    width: 320px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    font-family: 'TT Lakes Regular';
}

.menu__burger {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__header {
    padding: 18px 24px;

}

.menu__buttons-header {
    display: flex;
    align-items: center;
}

.header__menu-burger {
    margin-left: auto;
}

.menu__logo {
    margin-left: 17px;
}

.menu__header-search {
    margin-left: auto;
}

.menu__nav {
    flex-grow: 1;
}

.menu__item {
    display: block;
    padding: 16px 24px;
    position: relative;
    font-weight: 600;
}

.menu__item.active {
    color: #7E7E82;
}

.menu__item.active::before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    position: absolute;
    background-color: #41F6D7;
    left: 0;
    top: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.menu__item:hover {
    background-color: #6B7B84;
    transform: translate(10px, 5px);
    box-shadow: 10px 5px 15px 5px rgba(0,0,0,0.4);
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in;
}

.menu__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
}

.menu__buttons-footer {
    display: flex;
}

.menu__button-call,
.menu__button-message {
    margin-right: 16px;
}

.menu__mail {
    margin-top: 16px;
}

.menu__phone {
    margin-top: 12px;
    font-family: 'TT Lakes Bold';
}

.menu__language {
    display: flex;
    margin-top: 40px;
}

.menu__lang {
    padding: 0;
    border: none;
    background-color: inherit;
    font: inherit;
    margin-right: 7px;
}

.menu__lang:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 1px black);
}

.lang-active {
    color: #7E7E82;
}