
html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}    

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

/* Header */

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 16px;
}

.stick__left {
    display: none;
}
.stick__right {
    margin-right: 20px;
}


.header__logo {
    margin-left: 17px;
    position: relative;
}

.button {
    display: flex;
    padding: 0;
    border: none;
    color: inherit;
    background-color: inherit;
}

.button:hover {
    cursor: pointer;
    opacity: 0.75;

}

.button:active {
    cursor: pointer;
    transform: scale(0.97);
}

.header__new-buttons {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__new-buttons .button:nth-child(3) {
    display: none;
    margin-right: 20px;
}
.header__new-buttons .button:nth-child(1),
.header__new-buttons .button:nth-child(2) {
    margin-right: 15px;
    display: none;
}

.header__button-repair {
    margin-left: auto;
    margin-right: 16px;
}

/* Main */

.main {
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
    min-height: 509px;
}

.main__title-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 24px 16px;
}

.main__title-icons {
    display: flex;
}

.main__title {
    font-family: 'TT Lakes Bold';
    font-size: 26px;
    margin: 0;
}

.main__title-container::before {
    content: "";
    display: block;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    top: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.main__title-repair,
.main__title-checkstatus {
    display: none;
}

.main__title-text {
    font-family: 'TT Lakes Demi';
    font-size: 16px;
    align-self: center;
    margin: 0 15px;
}

.main__nav {
    display: flex;
    align-items: center;
}

.main__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    white-space: nowrap;

}
.main__list::-webkit-scrollbar {
    width: 0;
} 

.main__link {
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    padding: 8px 15px;
    border: 2px solid #F8F8F8;;
    background-color: #F8F8F8;
    color: #7E7E82;
}
.main__link:first-child {
    margin-left: 15px;
}

.main__link:hover {
    cursor: pointer;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #fff;
}
.main__link:focus {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.main__article {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    padding: 10px 20px 15px 16px;
}

.main__article-wrapper {
    width: auto;
    height: 90px;
    overflow: hidden;
}

.main__article-text {
    margin: 0;
}

.main__spoiler {
    margin: 20px 30px 0px 35px;
    display: block;
    position: relative;
}

.main__spoiler-btn {
    border: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    font: inherit;
    font-family: 'TT Lakes Demi';
    font-size: 16px;
}

.main__spoiler-btn::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    border-top: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
    border-radius: 1px;
    margin-right: 60px;
    transform: rotate(135deg);
    left: -25px;
    top: 3px;
}
.main__spoiler-btn::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    border-top: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
    border-radius: 1px;
    margin-right: 60px;
    transform: rotate(135deg);
    left: -25px;
    top: 10px;
}

.main__background-company {
    width: 320px;
    height: 175px;
}

/* Menu */

.menu {
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    font-family: 'TT Lakes Regular';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    visibility: hidden;
}

.menu.open {
    visibility: visible;
}

.menu__burger {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__header {
    padding: 18px 24px;

}

.menu__buttons-header {
    display: flex;
    align-items: center;
}

.header__menu-burger {
    margin-left: auto;
}

.menu__logo {
    margin-left: 17px;
}

.menu__header-search {
    margin-left: auto;
}

.menu__nav {
    flex-grow: 1;
}

.menu__item {
    display: block;
    padding: 16px 24px;
    position: relative;
    font-weight: 600;
}

.menu__item.active {
    color: #7E7E82;
}

.menu__item.active::before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    position: absolute;
    background-color: #41F6D7;
    left: 0;
    top: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.menu__item:hover {
    background-color: #6B7B84;
    transform: translate(10px, 5px);
    box-shadow: 10px 5px 15px 5px rgba(0,0,0,0.4);
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in;
}

.menu__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
}

.menu__buttons-footer {
    display: flex;
}

.menu__button-call,
.menu__button-message {
    margin-right: 16px;
}

.menu__mail {
    margin-top: 16px;
}

.menu__phone {
    margin-top: 12px;
    font-family: 'TT Lakes Bold';
}

.menu__language {
    display: flex;
    margin-top: 40px;
}

.menu__link {
    padding: 0;
    border: none;
    background-color: inherit;
    font: inherit;
    margin-right: 7px;
}

.menu__link:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 1px black);
}

.menu__link--active {
    color: #7E7E82;
}


/* 325px */

@media (min-width: 325px) {
    .main__background-company {
        border-radius: 5px;
    }
}

/* 400px */

@media (min-width: 400px) {
    .header__new-buttons .button:nth-child(3) {
        display: flex;
    }
}

/* 450px */

@media (min-width: 450px) {
    .header__new-buttons .button:nth-child(2) {
        display: flex;
    }
    .main__article-wrapper {
        height: 70px;
    }
}

/* 500px */

@media (min-width: 500px) {
    .header__new-buttons .button:nth-child(1) {
        display: flex;
    }
    .header__logo {
        margin-left: 20px;
    }
    .stick__left {
        display: block;
        margin-left: 20px;
    }
}

/* 600px */

@media (min-width: 600px) {
    .main__content {
        flex-wrap: nowrap;
    }
    .main__article {
        padding-top: 20px;
    }
    .main__article-wrapper {
        height: 130px;   
    }
    .main__background-wrapper {
        padding-top: 15px;
        padding-right: 15px;
    }
}

/* 768px */

@media (min-width: 768px) {
    .header__container {
        padding: 20px 24px;
    }
    .main__title-container {
        padding: 24px;
    }
    .main__article-wrapper {
        height: 130px;
    }
    .main__link:first-child {
        margin-left: 25px;
    }
    .main__background-wrapper {
        padding: 15px;
        padding-right: 25px;
    }
    .main__background-company {
        width: 360px;
        height: 200px;
        
    }
    .main__text-part1 {
        display: inherit;
    }
    .main__article {
        padding-right: 30px;
        padding-left: 24px;
    }
    .main__spoiler {
        margin-top: 10px;
    }
}

/* 1120px */

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .main {
        padding-top: 0px;
    }
    .main__content {
        justify-content: space-between;
    }
    .main__title-container {
        padding: 42px 32px 10px 32px;
    }
    .main__title-container::before {
        top: 40px;
    }
    .main__article-wrapper {
        height: 150px;
    }
    .main__article {
        padding-left: 32px;
        padding-right: 20px;
    }
    .main__background-company {
        width: 530px;
        height: 290px;
    }
    .main__text-part2 {
        display: inherit;
    }
    .main__title-repair,
    .main__title-checkstatus {
        display: flex;
    }
    .main__link:first-child {
        margin-left: 0;
    }
    .main__list {
        flex-wrap: wrap;
    }
    .main__list {
        margin-left: 30px;
    }
    .menu,
    .menu.open {
        visibility: hidden;
    }
}