
html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}    

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

/* Header */

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 16px;
}

.stick__left {
    display: none;
}
.stick__right {
    margin-right: 20px;
}

.header__logo {
    margin-left: 17px;
    position: relative;
}

.button {
    display: flex;
    padding: 0;
    border: none;
    color: inherit;
    background-color: inherit;
}

.button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.button--vibration:hover {
    animation: 0.1s vibration ease-out infinite;;
}
.button--rotate:hover {
    animation: 1s rotate linear infinite;;
}

.button--scale:hover {
    animation: 0.5s scale linear infinite;;
}

@keyframes vibration {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%) rotate(20deg);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(4%);
        transform: translateX(4%) rotate(0deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) ;
    } 
    50% {
        transform: rotate(180deg) ;
    }
    100% {
        transform: rotate(360deg) ;
    } 
}

@keyframes scale {
    0% {
        transform: scale(1) rotate(0deg);
    } 
    33% {
        transform: scale(1.2) rotate(10deg);
    }
    66% {
        transform: scale(1.2) rotate(-10deg);
    }
    100% {
        transform: scale(1)  rotate(0deg);
    }
}


.header__new-buttons {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__new-buttons .button:nth-child(3) {
    display: none;
    margin-right: 20px;
}
.header__new-buttons .button:nth-child(1),
.header__new-buttons .button:nth-child(2) {
    margin-right: 15px;
    display: none;
}

.header__button-repair {
    margin-left: auto;
    margin-right: 16px;
}

/* Main */

.main {
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
}

.main__title-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 24px 16px;
}

.main__title-icons {
    display: flex;
}

.main__title {
    font-family: 'TT Lakes Bold';
    font-size: 26px;
    margin: 0;
}

.main__title-container::before {
    content: "";
    display: block;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    top: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.main__title-repair,
.main__title-checkstatus {
    display: none;
}

.main__title-text {
    font-family: 'TT Lakes Demi';
    font-size: 16px;
    align-self: center;
    margin: 0 15px;
}

.main__nav {
    display: flex;
    align-items: center;
}

.main__list {
    list-style-type: none;
    margin: 0 16px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    white-space: nowrap;

}
.main__list::-webkit-scrollbar {
    width: 0;
} 

.main__link {
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    padding: 8px 15px;
    border: 2px solid #F8F8F8;;
    background-color: #F8F8F8;
    color: #7E7E82;
}

.main__link:hover {
    cursor: pointer;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #fff;
}
.main__link:focus {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.main__article {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    padding: 10px 20px 15px 16px;
}

.main__article-wrapper {
    width: auto;
    height: 95px;
    overflow: hidden;
}

.main__article-text {
    margin-bottom: 20px;
}

.main__spoiler-btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background-color: inherit;
    font: inherit;
    font-family: 'TT Lakes Demi';
    font-size: 16px;
    margin-left: 8px;
    margin-top: 16px;
}
.main__spoiler-btn:hover {
    cursor: pointer;
}

.main__spoiler-arrow {
    margin-right: 16px;
}

.main__background-company {
    width: 320px;
    height: 175px;
}

/* Menu */

.menu {
    width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    font-family: 'TT Lakes Regular';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    visibility: hidden;
}

.menu.open {
    visibility: visible;
}

.menu__burger {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__header {
    padding: 18px 24px;

}

.menu__buttons-header {
    display: flex;
    align-items: center;
}

.header__menu-burger {
    margin-left: auto;
}

.menu__logo {
    margin-left: 17px;
}

.menu__header-search {
    margin-left: auto;
}

.menu__nav {
    flex-grow: 1;
}

.menu__item {
    display: block;
    padding: 16px 24px;
    position: relative;
    font-weight: 600;
}

.menu__item.active {
    color: #7E7E82;
}

.menu__item.active::before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    position: absolute;
    background-color: #41F6D7;
    left: 0;
    top: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.menu__item:hover {
    background-color: #6B7B84;
    transform: translate(10px, 5px);
    box-shadow: 10px 5px 15px 5px rgba(0,0,0,0.4);
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in;
}

.menu__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
}

.menu__buttons-footer {
    display: flex;
}

.menu__buttons-footer .button:not(:last-child) {
    margin-right: 16px;
}

.menu__mail {
    margin-top: 16px;
}

.menu__phone {
    margin-top: 12px;
    font-family: 'TT Lakes Bold';
}

.menu__language {
    display: flex;
    margin-top: 40px;
}

.menu__link {
    padding: 0;
    border: none;
    background-color: inherit;
    font: inherit;
    margin-right: 7px;
}

.menu__link:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 1px black);
}

.menu__link--active {
    color: #7E7E82;
}

/* Brands */

.brands {
    background-color: rgb(248 248 248);
}

.brands__title {
    border-top: 1px solid #D9FFF5;
    padding: 16px;
    font-family: 'TT Lakes Regular';
    text-transform: uppercase;
    background-image: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.swiper {
    height: 130px;
    position: relative;
}

.swiper::after {
    content: "";
    display: block;
    height: 72px;
    width: 24px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 10;
}

.swiper-slide {
    margin-top: 16px;
}

.swiper-slide:first-child {
    margin-left: 16px;
}

.swiper-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 38px;
    width: 214px;
    padding: 16px;
}

.brands__spoiler-btn {
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
    background-color: inherit;
    display: none;
    margin: 31px 0px 40px 32px;
}
.brands__spoiler-arrow {
    margin-right: 17px;
}

.swiper .swiper-pagination {
   bottom: 10px;
}
.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
}


/* 325px */

@media (min-width: 325px) {
    .main__background-company {
        border-radius: 5px;
    }
}

/* 400px */

@media (min-width: 400px) {
    .header__new-buttons .button:nth-child(3) {
        display: flex;
    }
}

/* 450px */

@media (min-width: 450px) {
    .header__new-buttons .button:nth-child(2) {
        display: flex;
    }
    .main__article-wrapper {
        height: 75px;
    }
}

/* 500px */

@media (min-width: 500px) {
    .header__new-buttons .button:nth-child(1) {
        display: flex;
    }
    .header__logo {
        margin-left: 20px;
    }
    .stick__left {
        display: block;
        margin-left: 20px;
    }
}

/* 600px */

@media (min-width: 600px) {
    .main__content {
        flex-wrap: nowrap;
    }
    .main__article {
        padding-top: 20px;
    }
    .main__article-wrapper {
        height: 135px;   
    }
    .main__background-wrapper {
        padding-top: 15px;
        padding-right: 15px;
    }
}

/* 768px */

@media (min-width: 768px) {
    .header__container {
        padding: 20px 24px;
    }
    .main__title-container {
        padding: 24px;
    }
    .main__article-wrapper {
        height: 130px;
    }
    .main__background-wrapper {
        padding: 15px;
        padding-right: 25px;
    }
    .main__background-company {
        width: 360px;
        height: 200px;
    }
    .main__text-part1 {
        display: inherit;
    }
    .main__article {
        padding-right: 35px;
        padding-left: 24px;
    }
    .main__spoiler {
        margin-top: 10px;
    }
    .main__list {
        margin: 0;
    }
    .main__link:first-child {
        margin-left: 24px;
    }
    .main__link:last-child {
        margin-right: 24px;
    }
    .brands__title {
        padding-left: 24px;
    }
    .brands__icons--wrapper {
        overflow: hidden;
        height: 160px;
        width: auto;
    }
    .brands__icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 16px;
        grid-column-gap: 24px;
        margin: 24px;
    }
    .brand__link {
        width: auto;
    }
    .brands__points {
        display: none;
    }
    .brands__spoiler-btn {
        display: block;
    }
}

/* 1120px */

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .main {
        padding-top: 0px;
    }
    .main__content {
        justify-content: space-between;
    }
    .main__title-container {
        padding: 42px 32px 10px 32px;
    }
    .main__title-container::before {
        top: 40px;
    }
    .main__article-wrapper {
        height: 155px;
    }
    .main__article {
        padding-left: 32px;
        padding-right: 20px;
    }
    .main__background-company {
        width: 530px;
        height: 290px;
    }
    .main__text-part2 {
        display: inherit;
    }
    .main__title-repair,
    .main__title-checkstatus {
        display: flex;
    }
    .main__link:first-child {
        margin-left: 0;
    }
    .main__list {
        flex-wrap: wrap;
    }
    .main__list {
        margin-left: 30px;
    }

    .brands__icons--wrapper {

    }

    .brands__title {
        padding-left: 32px;
    }
    .brands__icons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 32px;
        margin: 32px;
    }
    .brand__link {
        width: auto;
    }

    .menu,
    .menu.open {
        visibility: hidden;
    }
}